/***** RESET *****/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* tables still need 'cellspacing="0"' in the markup */

textarea {
    overflow: auto;
}


/***** RESET *****/

.registration_jumbotron {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 18px;
    box-sizing: border-box;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.create-card {
    border-top: 0px solid #8b1818;
    border-bottom: 0px solid #8b1818;
    border-radius: 50%;
    margin: 30px 50px;
    display: block;
    height: 250px;
    width: 250px;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/3a/1f/02/3a1f02c10700daa80655a302c5a27acf.jpg);
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
}

.create-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profile-card-header img {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
    border: 5px solid #fff;
}

.profile-card {
    border-top: 0px solid #8b1818;
    border-bottom: 0px solid #8b1818;
    border-radius: 50%;
    display: block;
    height: 250px;
    width: 250px;
    margin: 30px 50px;
    background: url(https://s-media-cache-ak0.pinimg.com/736x/3a/1f/02/3a1f02c10700daa80655a302c5a27acf.jpg);
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 100px 10px #fff;
    transition: all ease 0.3s;
}

.profile-card:hover {
    border-top: 4px solid #8b1818;
    border-bottom: 4px solid #8b1818;
    border-radius: 5px;
    height: 480px;
    width: 350px;
    box-shadow: 0 0 70px 10px #fff;
}

.profile-card .profile-card-header {
    text-align: center;
}

.profile-card .profile-card-header h1 {
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    padding: 10px;
    transition: all ease 0.250s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-transform: capitalize;
}

.profile-card:hover .profile-card-header h1 {
    margin-top: 0px;
    outline: 0 solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 1px solid #fff;
}

.profile-card .profile-card-header h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: normal;
    line-height: 0px;
    margin-top: 20px;
    text-transform: capitalize;
}

.profile-card .profile-card-header span {
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: block;
    margin: 50px auto 0;
    padding: 5px 10px 5px 10px !important;
    transition: all linear 1.5s;
    color: #fff;
    font-size: 14px;
    background: red;
    text-transform: capitalize;
}

.profile-social-links {
    position: relative;
    margin-top: -440px;
    margin-left: -100px;
    list-style-type: none;
    opacity: 0;
    transition: all ease 0.5s;
}

.profile-card:hover .profile-social-links {
    margin-left: 10px;
    margin-top: -350px;
    opacity: 1;
}

.profile-social-links li img {
    width: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
}

.profile-social-links a {
    text-decoration: none;
    position: relative;
}

.profile-social-links li a::after {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background: red;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    top: -200%;
    left: 70%;
    display: none;
    transition: ease 0.5s;
}

.profile-social-links li a:hover:after {
    display: block;
}

.profile-card:hover .profile-card-header img {
    animation: profile_image 2000ms linear both;
    animation-delay: 0.5s;
}

.registration_popup {
    width: 95%;
    height: 95%;
    background-color: white;
    background: rgb(221, 216, 216);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
    display: flex;
    transition: all 4s ease-in-out;
    display: none;
    z-index: 2;
}

.registration_popup_cancel {
    width: 45px;
    height: 45px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: all 2s ease-in;
}

.cancel:hover {
    transform: scale(1.1);
}

.registration_popup_left {
    width: 50%;
    height: 100%;
    border: 1px black solid;
    border-radius: 25px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_popup_right {
    width: 50%;
    height: 100%;
    border: 1px black solid;
    border-radius: 25px;
    margin-left: 20px;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration_popup h1 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.7;
}

.registration_popup form {
    width: 100%;
    height: 100%;
    display: flex;
}

#registration_popup_left_profile_photo {
    opacity: 0;
    z-index: -1;
    display: none;
}

.registration_popup_left_profile_photo {
    font-size: 14px;
    font-family: 100;
    background-color: rgb(240, 233, 233);
    border: 1px #8b181b solid;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    text-align: center;
}

.registration_popup .registration_popup_left .form-text {
    width: 50%;
    margin-top: 20px;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
}

.registration_popup .registration_popup_right .form-text {
    width: 50%;
    margin-top: 20px;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
}

#registration_popup_left_profile_name,
#registration_popup_left_profile_surname,
#registration_popup_left_profile_nickname,
#registration_popup_left_profile_email,
#registration_popup_left_profile_position {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px #8b181b solid;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}

#registration_popup_right_profile_password,
#registration_popup_right_profile_repassword,
#registration_popup_right_profile_position,
#registration_popup_right_profile_role {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px #8b181b solid;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}

#registration_popup_left_profile_name:focus,
#registration_popup_left_profile_surname:focus,
#registration_popup_left_profile_nickname:focus,
#registration_popup_left_profile_email:focus,
#registration_popup_left_profile_position:focus {
    outline: none;
}

#registration_popup_right_profile_password:focus,
#registration_popup_right_profile_repassword:focus,
#registration_popup_right_profile_position:focus,
#registration_popup_right_profile_role:focus {
    outline: none;
}

#registration_popup_left_profile_name:focus+.registration_popup_left_profile_name,
#registration_popup_left_profile_surname:focus+.registration_popup_left_profile_surname,
#registration_popup_left_profile_nickname:focus+.registration_popup_left_profile_nickname,
#registration_popup_left_profile_email:focus+.registration_popup_left_profile_email,
#registration_popup_left_profile_position:focus+.registration_popup_left_profile_position,
#registration_popup_left_profile_name:valid+.registration_popup_left_profile_name,
#registration_popup_left_profile_surname:valid+.registration_popup_left_profile_surname,
#registration_popup_left_profile_nickname:valid+.registration_popup_left_profile_nickname,
#registration_popup_left_profile_email:valid+.registration_popup_left_profile_email,
#registration_popup_left_profile_position:valid+.registration_popup_left_profile_position {
    transform: translateY(-50%);
}

#registration_popup_right_profile_password:focus+.registration_popup_right_profile_password,
#registration_popup_right_profile_repassword:focus+.registration_popup_right_profile_repassword,
#registration_popup_right_profile_position:focus+.registration_popup_right_profile_position,
#registration_popup_right_profile_password:valid+.registration_popup_right_profile_password,
#registration_popup_right_profile_repassword:valid+.registration_popup_right_profile_repassword,
#registration_popup_right_profile_position:valid+.registration_popup_right_profile_position {
    transform: translateY(-50%);
}

#registration_popup_left_profile_name:hover+.registration_popup_left_profile_name,
#registration_popup_left_profile_surname:hover+.registration_popup_left_profile_surname,
#registration_popup_left_profile_nickname:hover+.registration_popup_left_profile_nickname,
#registration_popup_left_profile_email:hover+.registration_popup_left_profile_email,
#registration_popup_left_profile_position:hover+.registration_popup_left_profile_position,
#registration_popup_right_profile_password:hover+.registration_popup_right_profile_password,
#registration_popup_right_profile_repassword:hover+.registration_popup_right_profile_repassword,
#registration_popup_right_profile_position:hover+.registration_popup_right_profile_position {
    transform: scale(1.1);
    opacity: 1;
    font-size: 18px;
    transform: translateY(-50%);
}

.registration_popup_left_profile_name,
.registration_popup_left_profile_surname,
.registration_popup_left_profile_nickname,
.registration_popup_left_profile_email,
.registration_popup_left_profile_position {
    position: absolute;
    bottom: 26px;
    left: 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.5;
}

.registration_popup_right .form-text .registration_popup_right_profile_password,
.registration_popup_right .form-text .registration_popup_right_profile_repassword,
.registration_popup_right .form-text .registration_popup_right_profile_position {
    position: absolute;
    bottom: 26px;
    left: 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.5;
}

.registration_popup_left img {
    width: 130px;
    height: 130px;
    border: 1px black solid;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: none;
}

#registration_popup_right_profile_role {
    background-color: white;
    padding-left: 15px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.5;
}

.registration_popup_right_email_notification_box {
    width: 90%;
    height: 220px;
    border: 2px black solid;
    border-radius: 25px;
    border: 1px #8b181b solid;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.registration_popup_right_email_notification_box div {
    width: 30%;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.7;
}

input[type="checkbox" i] {
    background-color: #8b181b;
}

.registration_popup_right_email_notification_box p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    text-align: center;
    width: 100%;
}

.create {
    font-size: 14px;
    font-family: 100;
    background-color: rgb(240, 233, 233);
    border: 1px #8b181b solid;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
    text-align: center;
    margin-top: 20px;
}

@keyframes profile_image {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    3.4% {
        transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    6.81% {
        transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    10.21% {
        transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    13.61% {
        transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    17.52% {
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    21.32% {
        transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25.23% {
        transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.03% {
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    36.74% {
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    44.44% {
        transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    59.86% {
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75.28% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    90.69% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

.profile-card:hover .profile-card-header h1 {
    animation: name_and_job 1500ms linear both;
    animation-delay: 0.4s;
}

@keyframes name_and_job {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
        transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
        transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
        transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
        transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
        transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
        transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
        transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
        transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
        transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
        transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

.profile-card:hover ul li:first-child {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 0.75s;
}

.profile-card:hover ul li:nth-child(2) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1s;
}

.profile-card:hover ul li:nth-child(3) {
    animation: social_animation 2000ms ease-in-out both;
    animation-delay: 1.25s;
}

@keyframes social_animation {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    1.3% {
        transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
    }
    2.55% {
        transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
    }
    4.1% {
        transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
    }
    5.71% {
        transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
    }
    8.11% {
        transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
    }
    8.81% {
        transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
    }
    11.96% {
        transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
    }
    12.11% {
        transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
    }
    15.07% {
        transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
    }
    16.12% {
        transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
    }
    27.23% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
    }
    27.58% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
    }
    38.34% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
    }
    40.09% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
    }
    50% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
    }
    60.56% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
    }
    82.78% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}